/* Main styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background-color: #fff;
}

body {
	letter-spacing: 1px;
	font-family: sans-serif;
	color: #171717;
}

a {
	text-decoration: none;
	color: #171717;
}

ul {
	list-style: none;
}

section {
	z-index: 10;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.para {
	line-height: 35px;
}

.space {
	padding-bottom: 100px;
}

/* Underline effect */
.underline-effect {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.underline-effect::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 4px;
	background: linear-gradient(transparent calc(100% - 2px), rgb(229, 16, 98) 2px);
	transition: width .25s ease-out;
}

.underline-effect:hover::before {
	width: 100%;
}

.text-underline-effect {
	display: inline;
	background: linear-gradient(transparent calc(100% - 2px), rgb(229, 16, 98) 2px);
	background-repeat: no-repeat;
	background-size: 0 10px;
	background-position: 0px 100%;
	padding: 3px 0;
	overflow-wrap: break-word;
	transition: background-size .25s ease 0s;
}

/* Navigation */
header.container {
	margin-bottom: 50px;
	width: 100%;
}

.main-nav {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 82px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	background-color: #fff;
	transition: .5s;
}

.nav-items {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav-list__items {
	display: flex;
	align-items: center;
	gap: 24px;
	list-style: none;
	font-size: 14px;
}

.nav-list__item a {
	color: #171717;
}

.hiring {
	background-color: #FFC909;
	border-radius: 4px;
	padding: 10px;
	transition: background-color .5s;
}

.hiring:hover {
	background-color: #FEDB5C;
	cursor: pointer;
}

.contact-us {
	color: #fff;
	background-color: #E51062;
	padding: 14px;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
	transition: background-color .5s;
}

.contact-us:hover {
	background-color: #c81157;
}

/* Main page bottom of header */
.main-banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-text {
	width: 565px;
	line-height: 43px;
}

/* Blob */
.blob-side {
	position: relative;
}

.blob {
	width: 600px;
}

.title {
	position: absolute;
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%)
}

/* Info */
.more-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more-info img {
	width: 565px;
}

.info p {
	width: 452px;
}

.info p:nth-child(2),
.info p:nth-child(3) {
	margin-top: 32px;
}

/* Our work */
.our-work {
	background-color: #F9F9F9;
	padding: 70px 0;
}

.our-work-title {
	font-size: 24px;
}

.our-work-subtitle {
	margin: 30px 0;
}

.our-work-content {
	display: flex;
	justify-content: space-between;
}

.our-work-left {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 452px;
}

.our-work-left img {
	width: 95px;
}

.our-work-left__title {
	font-size: 23px;
	line-height: 39px;
}

.our-work-content:hover span.text-underline-effect {
	background-size: 100% 10px;
}

.our-work-img {
	width: 549px;
}

/* Our formula (card) */
.formula {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("./img/bg.png");
	background-size: cover;
	height: 440px;
	pointer-events: none;
}

.formula-card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 670px;
	height: 315px;
	background-color: #fff;
	text-align: center;
	padding: 72px 32px;
	cursor: pointer;
	transition: transform 0.25s ease-in-out 0s;
}

.formula-card:hover {
	transform: scale(1.05);
}

.formula:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("./img/bg.png");
}

.formula > .formula-card {
	pointer-events: auto;
}

.formula-card span {
	font-size: 13px;
}

.formula-card span.text-underline-effect {
	font-size: 29px;
}

.formula-card:hover span.text-underline-effect {
	background-size: 100% 10px;
}

.formula-card p {
	line-height: 2;
}

/* Footer */
.main-footer {
	position: fixed;
	bottom: 0;
	z-index: -1;
	width: 100%;
	background-color: #E51062;
	color: #fff;
	padding: 60px 0 40px;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
	height: 550px;
}

/* Footer left */
.footer-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-left h2 {
	font-size: 60px;
	width: 410px;
	line-height: 80px;
}

.footer-left a {
	font-size: 18px;
	background-color: #fff;
	border-radius: 20px;
	line-height: 40px;
	width: 147px;
	height: 40px;
	text-align: center;
	margin-bottom: 150px;
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer-logo span {
	font-size: 17px;
	line-height: 35px;
}

/* Footer right */
.footer-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: end;
}

.footer-right-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-right-column a {
	color: #fff;
}

.footer-right-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-img img	{
	width: 71px;
	height: 73px;
}

.reveal-footer {
	margin-bottom: 650px;
}