/* Main styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	letter-spacing: 1px;
	font-family: sans-serif;
	color: #171717;
}

a {
	text-decoration: none;
	color: #171717;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.para {
	line-height: 35px;
}

.space {
	padding-bottom: 100px;
}

/* Navigation */
header {
	margin-bottom: 80px ;
}

.main-nav {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
	background-color: #fff;
	transition: .5s;
}

.nav-items {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nav-list__items {
	display: flex;
	align-items: center;
	gap: 24px;
	list-style: none;
	font-size: 14px;
}

.nav-list__item a {
	color: #171717;
}

.hiring {
	background-color: #FFC909;
	border-radius: 4px;
	padding: 10px;
}

.contact-us {
	color: #fff;
	background-color: #E51062;
	padding: 14px;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
}

/* Main page bottom of header */
.main-banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-text {
	width: 565px;
	line-height: 43px;
}

/* Blob */
.blob-side {
	position: relative;
}

.blob {
	width: 600px;
}

.title {
	position: absolute;
	top: 50%;
	left: 58%;
	transform: translate(-50%, -50%)
}

/* Info */
.more-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.more-info img {
	width: 565px;
}

.info p {
	width: 452px;
}

.info p:nth-child(2),
.info p:nth-child(3) {
	margin-top: 32px;
}

/* Our work */
.our-work {
	background-color: #F9F9F9;
	padding: 70px 0;
}

.our-work-title {
	font-size: 24px;
}

.our-work-subtitle {
	margin: 30px 0;
}

.our-work-content {
	display: flex;
	justify-content: space-between;
}

.our-work-left {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 452px;
}

.our-work-left img {
	width: 95px;
}

.our-work-left__title {
	font-size: 23px;
	line-height: 39px;
}

.our-work-img {
	width: 549px;
}

/* Our formula (card) */
.formula {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./img/bg.png");
	background-size: cover;
	height: 440px;
}

.formula-card {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 670px;
	height: 315px;
	background-color: #fff;
	text-align: center;
	padding: 72px 32px; 
}

.formula-card span {
	font-size: 13px;
}

.formula-card h4 {
	font-size: 29px;
}

.formula-card p {
	line-height: 2;
}